 
 <!-- TXT -->
 <div class="grid-containerlogo305"> 
  <div class="logo305">
    <a href="https://305digital.mx/" target="_blank" rel="nofollow">
      Creado por Artdejol en colaboración con 305 Digital
    </a>
  </div> 
</div>


<!-- Con imagen -->
 <div class="grid-containerlogo305"> 
  <div class="logo305">
    <a href="https://305digital.mx/" target="_blank" rel="nofollow">
    <img src="https://cdn.shopify.com/s/files/1/0436/3275/4847/files/creado.png?v=1595575243" alt="305 digital" /> 
    </a>
  </div> 
</div>



<style>
.grid-containerlogo305 {background: var(--color_copyright_bg);padding: 0 0 1em 0;}
.logo305 {display: table;margin: 0 auto 1em;}
.logo305 {display: table;margin: 0 auto 0;}
</style>
